body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  font-family: Roboto, sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  background-color: #e7e7e7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form {
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 25px #0000006b;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding: 35px 0;
  width: 450px;
}

.button {
  background-color: #6495ed;
  border: none;
  border-radius: 15px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  height: 45px;
  margin: 15px 0 25px;
  text-transform: uppercase;
  transition: opacity .2s ease-in;
  width: 350px;
}

.quote {
  color: #424242;
  margin: 0;
  padding-top: 35px;
  max-width: 450px;
}

.button:hover {
  opacity: .7;
  cursor: pointer;
}

label:first-child {
  margin-top: 15px;
}

.main {
  text-align: center;
}