@font-face {
  font-family: "Circe";
  src: url('./fonts/Circe-Bold.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: "Circe";
  src: url('./fonts/Circe-Regular.woff2') format('woff2');
  font-weight: normal;
}

.circe-font {
  font-family: "Circe";
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  background-color: #e7e7e7;
}

.form {
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 25px #0000006b;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding: 35px 0;
  width: 450px;
}

.button {
  background-color: #6495ed;
  border: none;
  border-radius: 15px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  height: 45px;
  margin: 15px 0 0;
  text-transform: uppercase;
  transition: opacity .2s ease-in;
  width: 350px;
  font-family: inherit;
}

.quote {
  color: #424242;
  margin: 0;
  padding-top: 35px;
  max-width: 450px;
}

.quote:last-of-type {
  padding-top: 0;
}

.button:hover {
  opacity: .7;
  cursor: pointer;
}

label:first-child {
  margin-top: 15px;
}

.main {
  text-align: center;
}