input {
    font-family: inherit;
    width: 300px;
    border: none;
    border-bottom: 1px solid #6495ed;
    font-size: 16px;
    height: 35px;
    margin: 5px 0 45px;
    text-align: left;
    width: 350px;
}

input::placeholder {
    color: #6495ed;
}
