select {
    background-color: #fff;
    border: 1px solid #6495ed;
    border-radius: 15px;
    height: 30px;
    margin: 15px 0 35px;
    text-align: center;
    text-transform: uppercase;
    width: 355px;
    font-family: inherit;
}